<div class="container-fluid" style="padding-top: 20px; padding-left: 30px">
  <div class="col-lg-12 text-center">
    <h1><%= @event.name %></h1>
  </div>

  <div class="col-lg-6 offset-lg-3">
    <div class="content-card card bg-card text-white" id="guest-card">
      <% if @event.has_tickets %>
        <%= render 'payment_form', event: @event %>
      <% else %>
        <%= render 'form', event: @event, guest: @guest %>
      <% end %>
    </div>
  </div>
</div>
