<div class="container-fluid" style="padding-top: 20px; padding-left: 30px">
  <h1>Accounts</h1>
  Manage admin and volunteer accounts. <br><br>

  <h4> Volunteers </h4>
  <table class="table table-borderless table-hover">
    <thead >
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Approved</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'devise/registrations/volunteers' %>
    </tbody>
  </table>

  <h4> Admins </h4>
  <table class="table table-borderless table-hover">
    <thead >
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Approved</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'devise/registrations/admins' %>
    </tbody>
  </table>
</div>
