<div class="container-fluid text-white">
  <h1>Controls</h1>
  <h4> Donate page visibility toggle </h4>
    <%= button_to "Toggle", {action: "toggle_donation_show"}, {class: "btn btn-primary"} %>
    <div class="card-text text-white">
      Currently: <%= Donation.show ? "enabled" : "disabled" %>
    </div>
  <h1>Accounts</h1>
  Manage admin and volunteer accounts. <br><br>
  <h4> Volunteers </h4>
  <table class="table table-borderless table-hover">
    <thead >
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Approved</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'devise/registrations/volunteers' %>
    </tbody>
  </table>

  <h4> Admins </h4>
  <table class="table table-borderless table-hover">
    <thead >
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Approved</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'devise/registrations/admins' %>
    </tbody>
  </table>
</div>
