<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      You have successfully registered to our WICI event.
    </p>
    <p>
      To check out more events, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for registering. We look forward to seeing you there!</p>
  </body>
</html>
