<%= form_for(reminder) do |f| %>
  <div class="field">
    <%= f.label :day %>
    <%= f.select :day, Date::DAYNAMES.zip(0..6) %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.text_field :time %>
  </div>

  <div class="field">
    <%= f.label :reminder %>
    <%= f.text_field :reminder %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
