<div class="container-fluid" style="padding-top: 20px; padding-left: 30px">
<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Back', events_path, class: "btn btn-primary text-white" %><br><br>
</div>
