<div class="container-fluid">
  <div class="col-lg-12 text-center">
    <h1> Upcoming Events </h1>
  </div>
  <div class="col-lg-8 event-container offset-lg-2">
    <% if @events.empty? %>
      <div class="col-lg-12 no-events text-center text-white" >
        There are no upcoming events.
      </div>
    <% end %>
    <% @events.each do |event| %>
      <%= render 'card', event: event %>
    <% end %>
  </div>

  <div class="col-lg-12 text-center">
    <%= link_to 'Back', :back, class: "btn btn-secondary" %>
    <%= link_to 'Past Events', past_events_path, class: "btn btn-primary text-center" %>
    <%= link_to 'New Event', new_event_path, class: "btn btn-primary text-center" if admin_signed_in? %>
  </div>
</div>
