<div class="container-fluid">
  <div class="col-md-8 offset-md-2">
    <h1>Events</h1>
    <% @events.each do |event| %>
      <%= render 'card', event: event %>
    <% end %>
  </div>

  <div class="col-md-12 text-center">
    <%= link_to 'New Event', new_event_path, class: "btn btn-primary text-white text-center" if admin_signed_in? %>
    <%= link_to 'Past Events', past_events_path, class: "btn btn-primary text-white" %>
    <%= link_to 'Back', root_path, class: "btn btn-secondary text-white" %>
  </div>
</div>
