<div class="container-fluid" style="padding-top: 20px; padding-left: 30px">
<h1>Edit Photo</h1>

<%= render 'form', photo: @photo %>

<%= link_to 'Back', photos_path, class: "btn btn-secondary text-white" %><br><br>
</div>
