<div class="container-fluid" style="padding-top: 20px; padding-left: 30px">
	<br>
	<h2>Welcome to the Women in Chemistry Initiative Website!</h2><br><br>

<div style="text-align:center">
  <h2>Mission Statement:</h2>
  <p>To serve as a social network of like-minded graduate students to promote women in chemistry.</p><br><br>
</div>

<div style="text-align:center">
  <h2>Photos from our events</h2>
  <p>Click on the images below to view:</p>
</div>

<div class="container-fluid">
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-4 home-image">
        <%= image_tag photo.image, class: "image-size" %>
      </div>
        <% if @value % @num_cols == 0 %>
          </div>
          <div class="row">
        <% end %>
        <% @value += 1 %>
     <% end %>
     </div>
  </div>
</div>
<%= link_to 'Edit Gallery', photos_url, class: "btn btn-primary text-white"%>
