/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --teal-bg: #2E8C8C;
    --dark-teal: #0F4040;
    --gold-hl: #B19632;
    --gray-ft: #8C8C8C;
}

html {
	height: 100%;
	overflow: auto;
}

body {
	margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

#page-container {
	min-height: 100vh;
	position: relative;
}

#content-container {
    min-height: 100vh;
    padding-bottom: 50px;
}

.footer {
	height: 150px;
	position: absolute;
	width: 100%;
}

.footer-top {
	background-color: #4C8F97;
	height: 50px;
	width: 100%;
}

.footer-bottom {
	background-color: #D6D6D6;
	width: 100%;
	height: 100px;
}

.footer-bottom .contact {
	font-size: 12px;
	padding-top: 0px;
	text-align: center;
	width: 50%;
}

.footer-bottom .legal-text {
	font-size: 12px;
	padding-top: 0px;
	text-align: center;
	width: 50%;
}

.footer-icons {
	padding-left: 47.0%;
	font-size: 20px;
}

.footer-icons a {
	padding-right: 12px;
}

.footer-icons a:hover {
	text-decoration: none;
}

.container-fluid {
	padding-left: 5%;
	padding-top: 2.5%;
}

.nav-link:hover {
	color: inherit;
}

.remove-link {
	color: inherit;
	text-decoration: inherit;
}

.remove-link:hover {
	color: inherit;
	text-decoration: inherit;
}

.remove-link:visited {
	color: inherit;
	text-decoration: inherit;
}


a:hover {
	background-color: transparent;
}
 input, textarea { display: block; }
