// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stripe-button-el { display: none !important }


img.card {
	margin-top: 10px; 
	height: 11%; 
	width: 11%;
	display: inline-block;
}

img.cardstripe {
	float: left ;
	margin-top: 10px; 
	height: 27%; 
	width: 27%;
	display: inline-block;
}

img.lock{
	height: 5%; 
	width: 5%;
	display: inline-block;
}

