// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stripe-button-el { display: none !important }


img.card {
	margin-top: 10px; 
	height: 11%; 
	width: 11%;
	display: inline-block;
}

img.cardstripe {
	float: left ;
	margin-top: 10px; 
	height: 27%; 
	width: 27%;
	display: inline-block;
}

img.lock{
	height: 5%; 
	width: 5%;
	display: inline-block;
}

#div_5dac_0{
	padding-top: 20px; 
	border: solid; 
	background: #0F4040; 
	color: #0F4040; 
	border-width: .5px;
}
#div_5dac_1{
	margin-top: 5%; 
	padding-bottom: 10%; 
	width: 30%; 
	float: right; 
	margin-right: 20%
}
#div_5dac_2{
	background: #ffffff; 
	border-radius: 50%; 
	padding-top: 15%; 
	width: 420px; 
	height: 420px; 
	margin-bottom: 3%;
}
#div_5dac_3{
	float:left; 
	font-size: 12px; 
	color: #ffffff
}
#div_5dac_4{
	padding-top: 2%; 
	margin-top: 7%; 
	background: #2E8C8C; 
	width: 30%; 
	float: left; 
	border: solid; 
	border-width: 1px; 
	border-color: #0F4040; 
	border-radius: 5px; 
	margin-left: 20%; 
	text-align: center;
}
#h1_5dac_0{
	padding-bottom: 1%; 
	border-bottom: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #ffffff
}
#div_5dac_5{
	color: #ffffff;
}
#div_5dac_6{
	margin-top: 10px;
}
#p_5dac_0{
	font-size: 8px; 
	text-align: left; 
	padding-left: 10px; 
	color: #ffffff 
}
#div_5dac_7{
	padding-bottom: 50%;
}

#div_5aaa_0{
	padding-top: 20px; 
	border: solid; 
	background: #0F4040; 
	color: #0F4040; 
	border-width: .5px;
}
#div_5aaa_1{
	margin-top: 5%; 
	padding-top: 20px; 
	width: 30%; 
	background: #2E8C8C; 
	border: solid; 
	border-color: #0F4040; 
	border-width: 2px; 
	border-radius: 6px; 
	float: center
}
#h1_5aaa_0{
	border-bottom-style: solid ; 
	border-bottom-width: 1px; 
	border-color: #ffffff; 
	text-align: center;
}
#div_5aaa_2{
	color: #ffffff
}
#label_5aaa_0{ 
	border-top-style : solid; 
	border-color: #ffffff; 
	text-align: center; 
	width: 100%; 
	border-width: .5px ; 
	padding-right: 10%; 
	margin-top: 5%;
}
#div_5aaa_3{ 
	float: left; 
	font-size: 25px; 
	font-style: bold; 
	color: #ffffff
}
#div_5aaa_4{
	color: #ffffff; 
	float: right; 
	font-size: 25px; 
	font-style: bold;
}
#div_5aaa_5{
	margin-top: 18px
}
#div_5aaa_6{
	padding-bottom: 20%;
}







