// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img.event-show {
  width: 200px;
  height: auto;
}

img.event-index {
  width: 100%;
  height: auto;
  border: 2px solid white;
}

hr {
  border-color: white;
  margin: 0;
}

.social-container {
  margin-top: 15px;
}

.event-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inline-w label, .inline-w input {
  float: none; /* if you had floats before? otherwise inline-block will behave differently */
  display: inline-block;
  vertical-align: middle;
}