// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img.event-show {
	width: 400px;
	height: auto;
}

img.event-thumb {
	width: 100px;
	height: auto;
}

.inline-w label, .inline-w input {
    float: none; /* if you had floats before? otherwise inline-block will behave differently */
    display: inline-block;
    vertical-align: middle;
}

.jumbotron {
	background-color: #c7e1e2 !important;
	height: 200px;
}
.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.bg-image {
  /* The image used */
  background-image: url("event-default.png");
  /* Full height */
  height: 200px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
