// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: var(--teal-hd) !important;
}

.image-size {
  height: 300px;
  width: 100%;
}

.home-image {
	padding-left: 0px !important;
	padding-right: 0px !important;
	border: 3px solid var(--teal-dk);
	margin-left: -3px;
}