<div class="footer fixed-bottom">
	<div class="navbar navbar-expand-lg footer-top">
		<div class="footer-icons">
			<a href="https://www.facebook.com/BerkeleyWICI">
				<i class="fab fa-facebook-square text-white"></i>
			</a>
			<a href="mailto:wiciberkeley@gmail.com">
				<i class="fas fa-envelope text-white"></i>
			</a>
			<%= link_to new_message_path do %>
				<i class="fas fa-address-book text-white"></i>
			<% end %>	
		</div>
	</div>
	<div class="navbar navbar-expand-lg footer-bottom">
		<div class="legal-text">
			Legal Information: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
		</div>
		<div class="contact">
			Contact us using wiciberkeley@gmail.com, facebook.com/BerkeleyWICI, or our contact page.
		</div>
	</div>
</div>
